# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Build outputs
dist/
build/
*.egg

# Poetry
poetry.lock

# VSCode
.vscode/

# Mac / Linux system files
.DS_Store
